/* @override http://localhost:3000/stylesheets/global.css */

@font-face {
    font-family: "GraublauWeb";
    src: url(/fonts/GraublauWeb.otf) format("truetype");
}
@font-face {
    font-family: "GraublauWeb";
    font-weight: bold;
    src: url(/fonts/GraublauWebBold.otf) format("truetype");
}

header, footer, section, nav { display:block; }

footer {
	margin-top: 5px;
	padding: 10px;
	position: absolute;
	bottom: 5px;
	left: 5px;
	right: 10px;
	font-family: GraublauWeb, Georgia,serif;
	font-size: 12px;
	line-height: 1.4;
	/* clearing */
	overflow: auto;
}

footer .left {
	float: left;
}

footer .right {
	float: right;
}

.left {
  float: left;
}

.right {
  float: right;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	/*border-bottom: 2px solid #000;*/
}

header {
	margin: 0;
	padding: 5px;
	position: absolute;
	top: 5px;
	left: 0px;
	right: 0px;
}

header section#title {
	float: left;
	margin-top: 5px;
}

header section#title p {
	margin: 0;
	padding: 0;
	margin-left: 10px;
	font-family: GraublauWeb, Georgia,serif;
	font-size:12px;
	line-height:1.4;	
}

header section#search {
	float: right;
	padding: 12px;
	margin-right: 0px;
}

html {
  overflow-x: hidden;
}

html,body {
	margin:0px;
	padding:0px;
	color: #555;
	
	font-family: GraublauWeb, "Helvetica Neue",Helvetica,Lucida,Arial,sans-serif;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	background: #eaefe0;
}



xs {
	color: #a68d49;
}

body {
	padding:5px;
}

header h1 {
	font-family: GraublauWeb, "Helvetica Neue",Helvetica,Lucida,Arial,sans-serif;
	width: 200px;
	color: black;
	font-weight: bold;
	margin: 0px;	
	font-size:30px;
	padding: 0px;
	margin-left: 10px;
}

h2 {
  font-size: 19px;
  color: #000;
  border-bottom: 1px solid #000;
}

h3 {
  font-size: 15px;
  color: #000;
  border-bottom: 1px solid #000;
}

section#content {
  position: absolute;
  top: 200px;
  bottom: 200px;
  left: 0px;
  right: 0px;
	margin-top: 5px;
	margin: auto;
	width: 400px;
}

aside {
  font-size: 12px;
  position: absolute;
  right: 17px;
  top: 80px;
  bottom: 50px;
  width: 290px;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #c1c1c1;
  
  background: #fff;
	opacity: 0.9;
	overflow: auto;
}

p.summary img {
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
}

ul.links {
  list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

ul.links li {
  margin: 0;
  margin-bottom: 3px;
}

ul.links li:hover {
  margin-bottom: 2px;
  border-bottom: 1px solid #000;
}

ul.links li a {
  width: auto;
}

section#infovis {
  display: none;
	height:550px;
	overflow: hidden;
	background-color:#F4F4F4;
}

.hidden {  
  display:none;  
}

#browser_not_supported {
	font-family: GraublauWeb, "Georgia",Helvetica,Lucida,Arial,sans-serif;
	width: 500px;
	margin: auto;
	padding-top: 120px;
	line-height: 2em;
	text-align: center;
}

/* Clearing */
.clearfix:after, #frame:after, .navigation:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
.clearfix, #frame, .navigation {display: inline-block;}
* html .clearfix, * html #frame, * html .navigation {height: 1%;}
.clearfix, #frame, .navigation {display: block;}
.clear {clear: both;}


/*
-----------------------------------------
 Search Box
-----------------------------------------
*/

#fb-suggest {
    border: 1px solid #c1c1c1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    opacity: 0.9;
    border-radius: 5px;
    padding: 5px;
    width: 300px;
		font-family: GraublauWeb, "Georgia",Helvetica,Lucida,Arial,sans-serif;
		text-align: right;
		font-size: 13px;
		color: #555;
}

#search .ghost-input {
    color: #99a;
}

#search .focused {
    color: #878699;
    font-style: normal;
}

.fbs-reset a {
	text-decoration: none;
	border: 0;
}

.fbs-reset a:hover {
	text-decoration: none;
	border: 0;
}


/*
=======================================================

FREEBASE SUGGEST

This file is part of the freebase-suggest jQuery plugin.

It is maintained by Metaweb Technologies, Inc. and
available for use under a Creative Commons License.

Author: Kai Conragan (kai@metaweb.com)

    GLOSSARY
    
    .fbs-pane       : Outermost container for result list <div>
    .fbs-subpane    : Inner container for result list <div>
    .fbs-list       : Contained by .fbs-subpane, this is the actual results list <ul>
    .fbs-item       : Individual item in results list <li>
    .fbs-flyout-pane : Outermost container for flyout on specific object <div>

=======================================================
*/

/*
-------------------------------------------------------
Freebase Suggest Reset
-------------------------------------------------------

reset all Freebase Suggest elements to insure consisten cross-browser rendering

*/

.fbs-reset,
.fbs-reset h1,
.fbs-reset h2,
.fbs-reset h3,
.fbs-reset h4,
.fbs-reset h5,
.fbs-reset h6,
.fbs-reset p,
.fbs-reset img,
.fbs-reset dl,
.fbs-reset dt,
.fbs-reset dd,
.fbs-reset ol,
.fbs-reset ul,
.fbs-reset li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    /*font-style: italic;*/
    font-size: 100%;
    font-family: GraublauWeb, Georgia;
    vertical-align: baseline;

}

/*
-------------------------------------------------------
Freebase Suggest Chrome
-------------------------------------------------------

You can change the colors of Freebase Suggest by overriding
the following rules. We recommended that you copy/paste the
below rules into your own stylesheet to customize.

*/

.fbs-pane,
.fbs-flyout-pane,
li.nomatch,
a.fbs-more-link,
li.fbs-selected,
.fbs-flyout-images,
#fbs-topic-image { 
    background: #fff; 
}


.fbs-suggestnew { 
    color: #444;
}

.fbs-pane,
.fbs-flyout-pane,
.fbs-flyout-subtitle,
.fbs-topic-properties strong { 
    color:  #666;
}

h3.fbs-topic-properties,
.fbs-flyout-pane p { 
    color: #444;
}

.fbs-item-name,
li.fbs-help-on-focus,
li.nomatch,
.fbs-nomatch-text,
.fbs-flyout-pane h3,
.fbs-properties-header { 
    color: #333;
}

.fbs-pane,
.fbs-flyout-pane { 
    border: 1px solid #bbb;
    padding: 2px;
}

.fbs-flyout-pane {
    border-color: #ccc;
}

.fbs-list,
.fbs-list-icons,
.fbs-flyout-content,
.fbs-attribution, 
.fbs-header { 
    background-color: #f5f5f5;
}

.fbs-header { background: #fefefe; }

li.fbs-help-on-focus,
li.nomatch { 
    border-bottom: 1px solid #dae3e9;
}

.fbs-item-name {
	border: 0;
	border: 1px solid #f5f5f5;
}

h1#fbs-flyout-title,
li.fbs-selected .fbs-item-name { 
    color: #000;
}

li.fbs-selected .fbs-item-name {
    border-color: #000;
    background: #fff;
}


.fbs-nomatch-text {
    border-bottom: 1px solid #dae3e9;
    background: #f8f8f8;
}

.fbs-suggestnew { 
    background: #eeeeee;
    border-top: 1px solid #dae3e9;
}


#fbs-flyout-title .fbs-flyout-label { 
    color: #aaa;
}

/* topic image */
#fbs-topic-image,
.fbs-flyout-images {
    border: 1px solid #a9a9a9;
}

.fbs-suggestnew-button,
.fbs-flyout-pane { 
    border: 1px solid #9a9a9a;
    color: #999999;
}

.fbs-suggestnew-button {
    color: #444444;
}

ul.fbs-list,
.fbs-flyout-content,
.fbs-attribution,
.fbs-header {
    /*border: 1px solid #dae3e9;*/
}

.fbs-header { border-bottom: 0; }

li.fbs-item {
	
    /*border-bottom: 1px solid #dae3e9;*/
  
}

.fbs-attribution {
    border-top: 0;
}

/*
-------------------------------------------------------
Freebase Suggest Typography
-------------------------------------------------------

    establish base typography size by:
    1. Setting parent div to font-size 16px;
    2. Setting inner div to font-size 62.5%, giving us a 10px baseline
    3. Setting global style rules
*/

.fbs-pane,
.fbs-flyout-pane {
    font-size: 16px;
}

ul.fbs-list,
.fbs-flyout-content,
.fbs-attribution,
div.fbs-header {
  font-size: 62.5%;
}


/* insure <strong> displays bold */
.fbs-pane strong,
.fbs-flyout-pane strong {
  font-weight: bold;
}

/*
-------------------------------------------------------
Freebase Suggest Structure
-------------------------------------------------------
*/

.fbs-flyout-content,
.fbs-attribution {
    margin: 2px;
}

.fbs-flyout-content { margin-bottom: 0; }
.fbs-attribution    { margin-top: 0; }

.fbs-pane        { width: 325px; } /* results list container */
.fbs-flyout-pane { width: 319px; margin-left: 3px; } /* flyout container, 3px narrower on each side to create drawer appearance */

ul.fbs-list {    
    max-height: 320px;  
    overflow: auto;
    overflow-x: hidden;
    border-bottom: 0;
    border-top: 0;
}

.fbs-flyout-content,
.fbs-attribution {
  padding: 5px;
}

.fbs-flyout-content:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
  

/*
-------------------------------------------------------
Freebase Suggest Results List
-------------------------------------------------------
*/

/* each .fbs-item is a single returned result */
li.fbs-help-on-focus,
li.nomatch {
    padding: 6px 8px 7px 6px;
    font-size: 1.4em;
    line-height: 1;
}

/* show more results */
li.fbs-more { padding: 0; background: transparent;}

a.fbs-more-link {
    display: block;
    padding: 4px;
    font-weight: bold;
    font-size: 12px;
}

.fbs-more .fbs-help {
    display: none;
}

.fbs-header {
    font-weight: bold;
    padding: 4px 6px;
    margin: 2px 2px -2px 2px;
}

.fbs-item-name label {
    font-size: 0.9em;
}


.fbs-item-type,
.fbs-item-name label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
/*    text-overflow:ellipsis;*/
}

.fbs-item-name {
    padding: 5px 8px 4px 6px;
    font-size: 1.4em;
    line-height: 1;
    background: #f7f7f7;
}

/* result name */
.fbs-item-name strong {
    font-weight: bold;
}

.fbs-item-type { 
    color: #777;
    float: right;
    font-size: 0.7em;
    max-width: 40%;
    padding-left: 0.25em;    
}

/* hover state of .fbs-item */
li.fbs-selected { 
    cursor: pointer;
}

/*
-------------------------------------------------------
Freebase Suggest Status
-------------------------------------------------------
*/

.fbs-status {
    /*border: 1px solid #dae3e9;*/
    padding: 4px 5px;
    color: #000;
    font-size: 0.7em;
}

/*
-------------------------------------------------------
Freebase Suggest No Results
-------------------------------------------------------
*/

li.nomatch {
    padding: 0;
}

.fbs-nomatch-text {
    display: block;
    font-weight: bold;
    line-height: 1;
    font-size: .9em;
}

.fbs-nomatch-text,
.nomatch h3,
ul.fbs-search-tips {
    padding: 6px 8px 7px 6px;
}

.nomatch h3 {
    font-weight: bold;
    font-size: 0.9em;
}

ul.fbs-search-tips li {
  list-style: disc;
  margin-left: 1.6em;
  margin-bottom: 0.3em;
  font-size: 0.9em;
}

/*
-------------------------------------------------------
Freebase Suggest Create New
-------------------------------------------------------
*/

/* suggest new container */
.fbs-suggestnew {
    padding: 0.4em 0.3em 0.5em 8px;
}

.fbs-suggestnew-button {
    cursor: pointer;
    padding: 0.2em 0.3em;
    margin-left: 0px !important;
    max-width: 17em;
}

.fbs-suggestnew-description { 
    margin-bottom: 0.6em;
    font-size: 0.7em;
     }

/* (Shift + Enter) */
.fbs-more-shortcut,
.fbs-suggestnew-shortcut {
  margin-left: 0.4em;
  font-size: 70%;
  color: #999999;
}

/*
-------------------------------------------------------
Freebase Suggest Flyout Elements
-------------------------------------------------------
*/

#fbs-topic-flyout

/* the object title */
h1#fbs-flyout-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}

h1#fbs-flyout-title .template-label {
    color: #999999;
    font-size: 0.8em;
}


/* denotes topic, type, view, base, etc. */
#fbs-flyout-title .fbs-flyout-label {
    font-weight: normal;
}

/* Image for single topic result */
#fbs-topic-image {
    float: left;
    padding: 1px;
    margin-right: 5px;
    margin-bottom: 5px;
}

/* Image pair for views/base/etc. */
.fbs-flyout-images {
    float: left;
    margin: 0 10px 0 0;
    padding: 1px 0 1px 1px;
}

.fbs-flyout-images img {
    float: left;
    margin-right: 1px;
}

.fbs-flyout-subtitle {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.fbs-flyout-pane h3 {
    font-size: 1em;
    line-height: 1.4;
    margin-bottom: 0.25em;
}

.fbs-properties-header {
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0;
}

h3.fbs-topic-properties {
    font-size: 1.2em;
    font-weight: bold;
}

.fbs-topic-properties strong {
    display: block;
    font-size: 0.8em;
}

.fbs-flyout-pane p {
  font-size: 1.2em;
  line-height: 1.4;
}

/* this class is applied with fbs-topic-flyout when a thumbnail is present
   in order to provide a fixed margin on text to prevent poor text wrapping
   around thumbnail
*/
p.image-true,
h3.image-true,
h1.image-true { margin-left: 85px; }

.fbs-meta-info { margin-left: 110px; }

/* generic flyout list */
.fbs-flyout-list li {
    font-size: 1em;
    margin-left: 15px;
}

#fbs-domain-flyout #fbs-flyout-title { margin-bottom: 0.5em; }

/*
-------------------------------------------------------
Freebase Suggest Attribution
-------------------------------------------------------
*/

.fbs-attribution {
    padding-right: 72px; /* accommodate attribution background image */
    background-image: url(http://www.freebase.com/resources/images/fbs-attribution.png);
    background-repeat: no-repeat;
    background-position: center right;
    min-height: 15px;
}

.fbs-flyout-types {
    /*font-style: italic;*/
    line-height: 1; 
    font-size: 1.2em;
}

/*
-------------------------------------------------------
Freebase SuggestIE Hacks
-------------------------------------------------------
We can't use conditional comments so we have to resort
to inline Internet Explor fixes

*/

* html .fbs-list,
* html .fbs-list-icons { height: expression( this.scrollHeight > 410 ? "410" : "auto" ); /* sets max-height for IE */ }

* html .fbs-item-name {
    width : 253px !important;
}

* html .fbs-item-name{ width: 100%; }

* html .fbs-flyout-content:after { height: 1px; }

/*
----------------------------
Temporary hacks
----------------------------
these are just to force some
design changes before we can fully
update the templates.
*/

/*.fbs-item-type,*/
.unicode {
  display: none;
}

/* Version:r79501 Built:Fri Aug 14 2009 by daepark */
